/* font import  */

@import "tailwindcss";

@theme {
    --color-black: #0A0A0A;
    --color-black-2: #1F1F1F;
    --color-black-3: #464646;
    --color-primary: #FF6200;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #4B5563;
    --color-dark-gray: #717171;
    --color-old-gray: #929292;
    --color-grayborder: #D0D0CC;
}

/* font class  */
.anton {
    font-family: "Anton", sans-serif;
}


html {
    scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.container {
    max-width: 1328px !important;
    width: 100%;
    margin: auto;
    padding-inline: 16px;
}

/* @media (max-width:640px) {
    .container {
        padding-inline: 16px;
    }
} */



@layer base {
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}

.section-padding {
    padding-block: 140px;
}

@media (max-width:1024px) {
    .section-padding {
        padding-block: 56px;
    }
}

@media (max-width:640px) {
    .section-padding {
        padding-block: 56px;
    }
}



/* =========================
   CSS RESET / BASE
========================= */

/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin & padding */

/* HTML & body */
body {
    height: 100%;
    font-family: "Inter", sans-serif;
    background-color: #FFF;
}

/* tag  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Anton", sans-serif;

}


/* Remove link underline */
a {
    text-decoration: none;
}

/* Images responsive */
img,
picture,
video,
canvas {
    max-width: 100%;
    display: block;
}

/* Form elements inherit font */


/* Button cursor */
button {
    cursor: pointer;
}

/* Table reset */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.marquee-track {
    display: flex;
    gap: 48px;
    width: max-content;
    animation: marquee 28s linear infinite;
}

.marquee-track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* custom css  */
/* Hide scrollbar for clean look */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.nav-link-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 1.2em;
    /* Ensure only one line of text is visible */
    line-height: 1.2em;
    cursor: pointer;
}

.nav-text-main,
.nav-text-hover {
    display: block;
}

.nav-text-hover {
    position: absolute;
    top: 100%;
    left: 0;
}

.btn-box-shadow {
    box-shadow: 8px 8px 32px 0 rgba(255, 98, 0, 0.25);

}

/* hero  */
/* ignore content Flash  */
.visibility-hidden-on-load {
    visibility: hidden;
}